[submodule "rinari"]
	path = rinari
	url = https://github.com/eschulte/rinari.git
[submodule "magit"]
	path = magit
	url = https://github.com/philjackson/magit.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/jochu/clojure-mode.git
[submodule "jdee"]
	path = jdee
	url = https://github.com/emacsmirror/jdee.git
[submodule "nxhtml"]
	path = nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "muse"]
	path = muse
	url = https://github.com/alexott/muse.git
[submodule "cedet"]
	path = cedet
	url = https://github.com/emacs-pkg-mirrors/cedet.git
[submodule "fsharp-mode"]
	path = fsharp-mode
	url = https://github.com/emacsmirror/fsharp-mode.git
[submodule "pymacs"]
	path = pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "js2"]
	path = js2
	url = https://github.com/irfn/js2-mode.git
[submodule "swank-clojure"]
	path = swank-clojure
	url = https://github.com/technomancy/swank-clojure.git
